{% extends 'base.html' %}

{% block title %}aboutus{% endblock title %}

{% block body %}
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">About us</h2>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Starting From 2022</h1>
            <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one
                in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it
                to your liking.</p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus rem tempora in! Aut deleniti earum
            voluptate officia repellendus, hic at rem laudantium commodi enim vero inventore quasi mollitia vitae
            eius velit veniam necessitatibus laborum reprehenderit amet odio omnis. Dicta, ipsum ipsam atque maxime
            natus error totam laborum facilis perferendis nihil dignissimos, quisquam obcaecati culpa eligendi eum
            cum, optio eos! Dolorem voluptas fugit vero ipsum sunt minus ea quisquam alias ipsa dolores! Fugiat
            voluptatibus distinctio, nostrum, velit ex vitae fuga hic iste dolores provident aliquam laudantium
            facere necessitatibus cum nam? Rerum voluptas doloribus mollitia, iure corporis porro! Excepturi aliquid
            magnam quidem.
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Lorem ipsum dolor sit amet consectetur. <span class="text-muted">Lorem ipsum
                    dolor sit amet consectetur adipisicing elit.

                </span></h2>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati deleniti nam quae iure
                ex, tempora totam laborum asperiores! Quisquam nostrum temporibus, tempora aspernatur voluptas sapiente
                blanditiis vero placeat ea et necessitatibus neque unde excepturi voluptatibus odio illo perferendis
                ipsa quasi velit, culpa inventore eos numquam modi reiciendis! Laboriosam, ad voluptates veritatis
                pariatur nam consequatur ipsam autem accusamus cum sed reprehenderit voluptatem repudiandae asperiores
                iusto iure commodi dignissimos, corporis magnam minima ea reiciendis eum quaerat molestiae dolorum!
                Sequi et voluptates quam ratione? Ab sed, laborum totam quae iste qui ipsam, est exercitationem natus
                similique voluptatem repudiandae, libero nesciunt? Delectus.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="/static/about1.jpg" alt="">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                    yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
                this layout would work with some actual real-world content in place. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Blanditiis commodi sapiente quaerat, ipsa saepe magnam doloremque adipisci
                repellendus molestias assumenda aliquam maiores excepturi vero. Ab voluptates accusamus quia suscipit
                necessitatibus molestias nemo mollitia dignissimos nostrum, aut dicta repudiandae minima reiciendis
                veritatis tenetur corporis blanditiis? Fugiat qui sapiente nulla illum hic.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            src="/static/about2.jpg" alt="">

        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like
                with some actual content. Your content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                in, voluptates atque velit eaque pariatur eos voluptate. Laboriosam quam tempora ullam quos? Unde beatae
                dolorum velit voluptates adipisci aliquam ad! Magni error, magnam atque debitis incidunt deserunt
                quibusdam corporis optio eligendi dicta odio aperiam assumenda laboriosam blanditiis beatae modi rerum
                quos. Sed doloribus atque saepe eveniet aliquid nesciunt, fugiat consectetur.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            src="/static/about3.jpg" alt="">

        </div>
    </div>

</div>

{% endblock body %}