{% extends 'base.html' %}

{% block title %}aptitude{% endblock title %}

{% block body %}
<!--Questions-->
<form name="quiz" id="quiz">
  <div class="container my-5">
    <div class="card my-4">
      <div class="card-header">
        <h5>1.
          Find the greatest number that will divide 43, 91 and 183 so as to leave the same remainder in
          each case.</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            <input type="radio" name="q1" value="A"> A. 4<br>
            <input type="radio" name="q1" value="B"> B. 7<br>
            <input type="radio" name="q1" value="C"> C. 9<br>
            <input type="radio" name="q1" value="D"> D. 13<br>
          </p>
        </blockquote>
      </div>
    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>2.
          A train running at the speed of 60 km/hr crosses a pole in 9 seconds. What is the length of the
          train?</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            <input type="radio" name="q2" value="A"> A. 120 m<br>
            <input type="radio" name="q2" value="B"> B. 180 m<br>
            <input type="radio" name="q2" value="C"> C. 324 m<br>
            <input type="radio" name="q2" value="D"> D. 150 m<br>
          </p>
        </blockquote>
      </div>
    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>3.
          A sum of money at simple interest amounts to Rs. 815 in 3 years and to Rs. 854 in 4 years. The
          sum is:</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            <input type="radio" name="q3" value="A"> A. Rs 900<br>
            <input type="radio" name="q3" value="B"> B. Rs 700<br>
            <input type="radio" name="q3" value="C"> C. Rs 698 <br>
            <input type="radio" name="q3" value="D"> D. Rs 423<br>
          </p>
        </blockquote>
      </div>

    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>4.
          Mr. Thomas invested an amount of Rs. 13,900 divided in two different schemes A and B at the
          simple interest rate of 14% p.a. and 11% p.a. respectively. If the total amount of simple
          interest earned in 2 years be Rs. 3508, what was the amount invested in Scheme B?</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            <input type="radio" name="q4" value="A"> A. Rs 6400<br>
            <input type="radio" name="q4" value="B"> B. Rs 3400<br>
            <input type="radio" name="q4" value="C"> C. Rs 7200<br>
            <input type="radio" name="q4" value="D"> D. Rs 8594<br>
          </p>
        </blockquote>
      </div>

    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>5.
          How many times are the hands of a clock at right angle in a day?</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            <input type="radio" name="q5" value="A"> A. 22<br>
            <input type="radio" name="q5" value="B"> B. 24<br>
            <input type="radio" name="q5" value="C"> C. 44<br>
            <input type="radio" name="q5" value="D"> D. 45<br>
          </p>
        </blockquote>
      </div>

    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>6.
          The average weight of 8 person's increases by 2.5 kg when a new person comes in place of one of
          them weighing 65 kg. What might be the weight of the new person?</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            <input type="radio" name="q6" value="A"> A. 76 kg<br>
            <input type="radio" name="q6" value="B"> B. 79.6 kg<br>
            <input type="radio" name="q6" value="C"> C. 85 kg<br>
            <input type="radio" name="q6" value="D"> D. None of these<br>
          </p>
        </blockquote>
      </div>

    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>7.
          How many of the following numbers are divisible by 132 ?
          264, 396, 462, 792, 968, 2178, 5184, 6336</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            <input type="radio" name="q7" value="A"> A. 4<br>
            <input type="radio" name="q7" value="B"> B. 5<br>
            <input type="radio" name="q7" value="C"> C. 6<br>
            <input type="radio" name="q7" value="D"> D. 7<br>
          </p>
        </blockquote>
      </div>

    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>8.
          Three pipes A, B and C can fill a tank from empty to full in 30 minutes, 20 minutes, and 10
          minutes respectively. When the tank is empty, all the three pipes are opened. A, B and C
          discharge chemical solutions P,Q and R respectively. What is the proportion of the solution R in
          the liquid in the tank after 3 minutes?</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            <input type="radio" name="q8" value="A"> A. 5/11<br>
            <input type="radio" name="q8" value="B"> B. 6/11<br>
            <input type="radio" name="q8" value="C"> C. 7/11<br>
            <input type="radio" name="q8" value="D"> D. 9/11<br>
          </p>
        </blockquote>
      </div>

    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>9.
          Cup is to coffee as bowl is to</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            <input type="radio" name="q9" value="A"> A. dish<br>
            <input type="radio" name="q9" value="B"> B. soup<br>
            <input type="radio" name="q9" value="C"> C. spoon<br>
            <input type="radio" name="q9" value="D"> D. food<br>
          </p>
        </blockquote>
      </div>

    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>10.
          How many 3-digit numbers can be formed from the digits 2, 3, 5, 6, 7 and 9, which are divisible
          by 5 and none of the digits is repeated?</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            <input type="radio" name="q10" value="A"> A. 5<br>
            <input type="radio" name="q10" value="B"> B. 10<br>
            <input type="radio" name="q10" value="C"> C. 15 <br>
            <input type="radio" name="q10" value="D"> D. 20<br>
          </p>
        </blockquote>
      </div>

    </div>

    <!--submit button-->
    <button type="submit" class="btn btn-primary btn-lg" id="submit" value="submit">submit</button>


  </div>
</form>

<!--JavaScript code-->

<script>
  function validateForm() {
    var radioButtons1 = document.getElementsByName("q1");
    var radioButtons2 = document.getElementsByName("q2");
    var radioButtons3 = document.getElementsByName("q3");
    var radioButtons4 = document.getElementsByName("q4");
    var radioButtons5 = document.getElementsByName("q5");
    var radioButtons6 = document.getElementsByName("q6");
    var radioButtons7 = document.getElementsByName("q7");
    var radioButtons8 = document.getElementsByName("q8");
    var radioButtons9 = document.getElementsByName("q9");
    var radioButtons10 = document.getElementsByName("q10");

    var checked1 = false;
    var checked2 = false;
    var checked3 = false;
    var checked4 = false;
    var checked5 = false;
    var checked6 = false;
    var checked7 = false;
    var checked8 = false;
    var checked9 = false;
    var checked10 = false;
    for (var i = 0; i < radioButtons1.length; i++) {
      if (radioButtons1[i].checked) {
        checked1 = true;
        break;
      }
    }
    for (var i = 0; i < radioButtons2.length; i++) {
      if (radioButtons2[i].checked) {
        checked2 = true;
        break;
      }
    }
    for (var i = 0; i < radioButtons3.length; i++) {
      if (radioButtons3[i].checked) {
        checked3 = true;
        break;
      }
    }
    for (var i = 0; i < radioButtons4.length; i++) {
      if (radioButtons4[i].checked) {
        checked4 = true;
        break;
      }
    }
    for (var i = 0; i < radioButtons5.length; i++) {
      if (radioButtons5[i].checked) {
        checked5 = true;
        break;
      }
    }
    for (var i = 0; i < radioButtons6.length; i++) {
      if (radioButtons6[i].checked) {
        checked6 = true;
        break;
      }
    }
    for (var i = 0; i < radioButtons7.length; i++) {
      if (radioButtons7[i].checked) {
        checked7 = true;
        break;
      }
    }
    for (var i = 0; i < radioButtons8.length; i++) {
      if (radioButtons8[i].checked) {
        checked8 = true;
        break;
      }
    }
    for (var i = 0; i < radioButtons9.length; i++) {
      if (radioButtons9[i].checked) {
        checked9 = true;
        break;
      }
    }
    for (var i = 0; i < radioButtons10.length; i++) {
      if (radioButtons10[i].checked) {
        checked10 = true;
        break;
      }
    }

    if (!checked1 || !checked2 || !checked3 || !checked4 || !checked5 || !checked6 || !checked7 || !checked8 || !checked9 || !checked10) {
      alert("Please answer all questions");
      return false;
    }
    return true;
  }

  document.getElementById("quiz").onsubmit = function (event) {
    if (!validateForm()) {
      event.preventDefault();
    } else {
      var correctAnswers = 0;
      if (document.getElementsByName("q1")[0].checked) {
        correctAnswers++;
      }
      if (document.getElementsByName("q2")[3].checked) {
        correctAnswers++;
      }
      if (document.getElementsByName("q3")[2].checked) {
        correctAnswers++;
      }
      if (document.getElementsByName("q4")[0].checked) {
        correctAnswers++;
      }
      if (document.getElementsByName("q5")[2].checked) {
        correctAnswers++;
      }
      if (document.getElementsByName("q6")[2].checked) {
        correctAnswers++;
      }
      if (document.getElementsByName("q7")[0].checked) {
        correctAnswers++;
      }
      if (document.getElementsByName("q8")[1].checked) {
        correctAnswers++;
      }
      if (document.getElementsByName("q9")[1].checked) {
        correctAnswers++;
      }
      if (document.getElementsByName("q10")[3].checked) {
        correctAnswers++;
      }

      if (correctAnswers <= 5) {
        document.write("You got " + correctAnswers + " out of 10 questions correct. Score is Low need to Prepare Yourself. HelpingHand.com provide you better plan for your growth please check our course sections.");
      } else {
        document.write("You got " + correctAnswers + " out of 10 questions correct great");
      }
      //document.write("You got " + correctAnswers + " out of 2 questions correct");
    }
  };
</script>
{% endblock body %}