{% extends 'base.html' %}

{% block title %}courses{% endblock title %}

{% block body %}
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom text-center">Learning never exhausts the mind</h2>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Quantitative Aptitude Tutorial</h5>
              <p class="card-text">Sure shot way to crack Quantitative Aptitude.</p>
              <a href="/course1" class="btn btn-primary">Enroll Now</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Basic Fundamentals of Aptitude</h5>
              <p class="card-text">This course provide you a basic Fundamentals of Aptitude test.</p>
              <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Technical Interview Rounds</h5>
              <p class="card-text">The numerous collection of technical interview</p>
              <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Placement Plus Course</h5>
              <p class="card-text">This course provide you all about placement.</p>
              <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Get know about What HR Ask</h5>
              <p class="card-text">This course provide you all about Hr Interview Questions.</p>
              <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Group Disscussion</h5>
              <p class="card-text">Explore and discover personal meanings.</p>
              <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
          </div>
        </div>
      </div>

  </div>

{% endblock body %}