{% extends 'base.html' %}

{% block title %}Geneknow{% endblock title %}

{% block body %}
    <!--General knowledge links-->

    <!--Basic General Knowledge-->

    <div class="container my-5">
        <div class="card text-center">
            <div class="card-header">
                Important GK Question with Answers
            </div>
            <div class="card-body">
                <h5 class="card-title">Basic General Knowledge</h5>
                <p class="card-text my-4">This is general knowledge questions and answers section on "Basic General
                    Knowledge" with explanation for various interview, competitive examination.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <!--General Science-->

    <div class="container my-5">
        <div class="card text-center">
            <div class="card-header">
                Quick tips to Remember while studying for General Science
            </div>
            <div class="card-body">
                <h5 class="card-title">General Science</h5>
                <p class="card-text my-4">This is general knowledge questions and answers section on "General
                    Science" with explanation for various interview, competitive examination.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <!--Indian Plolitics-->

    <div class="container my-5">
        <div class="card text-center">
            <div class="card-header">
                Politics and Plotical Science Questions and Answers
            </div>
            <div class="card-body">
                <h5 class="card-title">Indian Plolitics</h5>
                <p class="card-text my-4">This is general knowledge questions and answers section on "Indian Plolitics"
                    with explanation for various interview, competitive examination.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <!--Sports-->

    <div class="container my-5">
        <div class="card text-center">
            <div class="card-header">
                GK Questions About Sports
            </div>
            <div class="card-body">
                <h5 class="card-title">Sports</h5>
                <p class="card-text my-4">This is general knowledge questions and answers section on "Sports"
                    with explanation for various interview, competitive examination.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


{% endblock body %}