{% extends 'base.html' %}

{% block title %}HR Interview Q1{% endblock title %}

{% block body %}
    <!--Questions-->
    <div class="container my-5">
        <div class="card my-4">
            <div class="card-header">
                <h5>Tell me about your self?
                </h5>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <article class="ibpage-article">
                        <p>This is the universal question asked at the very first of any interview. It sounds easy,
                            right? But this is the most important question where the candidates fail to create an
                            impression with the interviewer as most of the time they are not aware of what exactly needs
                            to be said.</p>
                        <p><strong>Some tips to answer this question:</strong></p>
                        <ul>
                            <li>Do not ask the interviewer what he wants to know about you. You may be asking genuinely,
                                but that just sounds rude.</li>
                            <li>Do not speak what is already there in the resume. The interviewer wants to know what
                                they have not seen on the resume. And do not speak about anything personal.</li>
                            <li>Introduce yourself by including certain adjectives like problem-solving, innovation and
                                tech-savvy, creative, quick learner, etc. that best describe you in your professional
                                life to boost your chances.</li>
                            <li>Cover what you have accomplished in your career and what work you have done in the past
                                which can help you excel in the position that you are being interviewed for.</li>
                            <li>You can also tell why you want the position and how the job is going to be perfect for
                                you.</li>
                            <li>Focus only on your strengths that are relatable to the work.</li>
                        </ul>

                    </article>
                    <footer class="blockquote-footer">
                        <p><strong>Sample answer could be:</strong></p>
                        <blockquote>
                            <p>I am an energetic person, an effective communicator, and a quick learner. I was also one
                                of the top students in my batch while I was pursuing a B.E degree in the XYZ domain. I
                                worked on various projects related to the software domain which provided me a great deal
                                of technical exposure along with the importance of working in a team and the value of
                                client satisfaction. I have worked on developing various enterprise-level web
                                applications for helping companies solve problems like ensuring business continuity,
                                market research analysis, etc. So, I believe I am a good fit for technology-centric
                                roles in your company.</p>
                        </blockquote><cite title="Source Title"></cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                <h5>Why do you want to work for our company?<br>
                </h5>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <article class="ibpage-article">
                        <p>Another popular question asked by the interviewer to make sure that the candidate has
                            understood the job requirements and help the interviewer understand the reason behind
                            choosing their company for that job. You should answer in such a way that the interviewer
                            gets convinced that you are a great fit for the role.</p>
                        <p><strong>Some tips to answer this question:</strong></p>
                        <ul>
                            <li>Talk about the past projects that you had worked on that matches the requirements of the
                                current role.</li>
                            <li>Talk about your career aspirations that are associated with this job role.</li>
                            <li>Have the knowledge in hand about the company’s vision, mission, and the work it has done
                                in recent years that inspired you to join the organization.</li>
                        </ul>

                    </article>
                    <footer class="blockquote-footer">
                        <p><strong>Sample answer:</strong></p>
                        <blockquote>
                            <p>I feel that with my current skill sets and my experience in the XYZ domain, the job
                                requirements this role presented are a perfect match for me. I could visualize myself in
                                that role as it aligned with my career aspirations, skills, and expertise. Besides, I
                                have researched your company and found that it has impressive and promising projections
                                which made me excited to be a part of the amazing future. I would take pride in working
                                under the great leadership of this company and I found this place to be a perfect fit
                                for utilizing my expertise along with the promising aspect of personal growth.</p>
                        </blockquote><cite title="Source Title"></cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                <h5>What are your greatest strengths and weaknesses?<br>
                    <br>
                </h5>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <article class="ibpage-article">
                        <p>HR asks this question to get to know more about your characteristics and your suitability for
                            the job. It is also one of the standards and most commonly asked questions.</p>
                        <p><strong>Some tips to answer this question:</strong></p>
                        <ul>
                            <li>Be honest.</li>
                            <li>Start by stating the strongest skills and qualities that can be of a great match to the
                                job role.</li>
                            <li>Be ready with the backup claim for each of the strengths that you mention. Hence, avoid
                                speaking of the strengths that you do not possess.</li>
                            <li>Do not tell any weakness that can potentially jeopardize your candidature.</li>
                            <li>Do not mention more than 2 weaknesses and always mention how you are working on
                                improving them.</li>
                            <li>Do not tell cheesy, cliché answers like “I am a perfectionist which is both my strength
                                and my weakness”.</li>
                        </ul>

                    </article>
                    <footer class="blockquote-footer">
                        <p><strong>Sample answer:</strong></p>
                        <blockquote>
                            <p>I think one of my greatest strengths is that I am a great team player. I am also a
                                self-motivated and quick learning individual. Whatever task that I set to do, I always
                                give my best and complete it diligently well in advance. My weakness would be that I am
                                learning to master people skills while meeting new individuals. I get nervous while
                                talking to new people. I have been working on this for quite a long time and I can say
                                with utmost confidence that I have come a long way.</p>
                        </blockquote><cite title="Source Title"></cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                <h5>Why are you looking for a change?
                </h5>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <article class="ibpage-article">
                        <p>Yet another commonly asked question for experienced candidates, the interviewer wants to
                            understand what made you look for different opportunities and identify if there are any red
                            flags. Whatever is the reason for changing your job, do not talk negatively about the
                            current employer. Do not divulge information about how bad the work environment was, how
                            poor the salary was as these are of no concern to the interviewer. Keep the answer
                            professional without sharing your woes.</p>
                        <p><strong>Sample answer:</strong></p>
                        <blockquote>
                            <p>The reason I am looking for change is that I feel like now is the time to expand my
                                horizon. I have worked in my current company for quite a long time and while I am
                                grateful for all the opportunities that were presented to me there, I want to go beyond
                                my current role here, explore different avenues and take up challenging roles and I
                                believe that your company will be the perfect place for me to push and grow myself as an
                                individual.</p>
                        </blockquote>
                        <p>There might be cases where you might have been laid off due to budget and management
                            constraints. In these cases, you have to convey the below things to the recruiter:</p>
                        <ul>
                            <li>It happened due to an unforeseen event and it was not your fault.</li>
                            <li>You still have a positive mindset about various opportunities that are available in the
                                market.</li>
                        </ul>

                    </article>
                    <footer class="blockquote-footer">
                        <p><strong>Sample answer can be:</strong></p>
                        <blockquote>
                            <p>The client that I was working for was leaving the market and hence our company was forced
                                to dissolve the department. Unfortunately, I had joined that position in that department
                                very recently and hence my duration in this company was short. I do not have any regrets
                                though as I was extremely happy due to the learning opportunities presented which will
                                help me a lot in my further career endeavors.</p>
                        </blockquote><cite title="Source Title"></cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                <h5>Tell me about the gap in your resume.</h5>

            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <article class="ibpage-article">
                        <p>This question comes up when the interviewer finds something interesting and out of ordinary
                            in the resume. Some examples could be a job that could be unrelated to what you are seeking
                            or a job that lasted only for some months or in some cases, the outright gap between two
                            consequent jobs. Here, HR wants to make sure that the gaps are not due to any red flags.</p>

                    </article>
                    <footer class="blockquote-footer">
                        <p><strong>Sample answer:</strong></p>
                        <blockquote>
                            <p>After the completion of my bachelor’s degree, I started working continuously for 8 years
                                without taking any break. This sort of impacted my productivity and also harmed my
                                work-life balance. Hence, I decided to take a break of 6 months to clear my mind, make
                                amends with my family, and also do solo travel to different places. I also gained some
                                lessons during this break such as the importance of work-life balance, organizational
                                ability, and a fresh new perspective on life.</p>
                        </blockquote><cite title="Source Title"></cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <!--Pagination-->
        <nav aria-label="Page navigation example">
            <ul class="pagination my-5">
                <li class="page-item"><a class="page-link" href="/hrinter1">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/hrinter1">1</a></li>
                <li class="page-item"><a class="page-link" href="/hrinter2">2</a></li>
                <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                <li class="page-item"><a class="page-link" href="/hrinter2">Next</a></li>
            </ul>
        </nav>
    </div>

{% endblock body %}