{% extends 'base.html' %}

{% block title %}placement1{% endblock title %}

{% block body %}
  <!--Questions-->
  <div class="container my-5">
    <div class="card my-4">
      <div class="card-header">
        <h5>1. In a class composed of x girls and y boys what part of the class is composed of girls</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>A. y/(x + y) <br>
            B. x/xy <br>
            C. x/(x + y) <br>
            D. y/xy <br>
          </p>
          <footer class="blockquote-footer">(Ans.C)<br><cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>2. What is the maximum number of half-pint bottles of cream that can be filled with a 4-gallon can of
          cream(2
          pt.=1 qt. and 4 qt.=1 gal)</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>A. 16 <br>
            B. 24 <br>
            C. 30 <br>
            D. 64</p>
          <footer class="blockquote-footer">(Ans.D)<cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>3. There are 200 questions on a 3 hr examination.Among these questions are 50 mathematics problems.It is
          suggested that twice as much time be spent on each maths problem as for each other question.How many minutes
          should be spent on mathematics problems<br>
        </h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>A. 36 <br>
            B. 72 <br>
            C. 60 <br>
            D. 100</p>
          <footer class="blockquote-footer">(Ans.B)<cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>4. In a group of 15,7 have studied Latin, 8 have studied Greek, and 3 have not studied either.How many of
          these studied both Latin and Greek<br>
        </h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>A. 0 <br>
            B. 3 <br>
            C. 4 <br>
            D. 5</p>
          <footer class="blockquote-footer">(Ans.B)<cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>

    <div class="card my-4">
      <div class="card-header">
        <h5>5. In june a baseball team that played 60 games had won 30% of its game played. After a phenomenal winning
          streak
          this team raised its average to 50% .How many games must the team have won in a row to attain this average?
        </h5>

      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>A. 12 <br>
            B. 20 <br>
            C. 24 <br>
            D. 30</p>
          <footer class="blockquote-footer">(Ans. C)<cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>

    <!--Pagination-->
    <nav aria-label="Page navigation example">
      <ul class="pagination my-5">
        <li class="page-item"><a class="page-link" href="/placement1">Previous</a></li>
        <li class="page-item"><a class="page-link" href="/placement1">1</a></li>
        <li class="page-item"><a class="page-link" href="/placement2">2</a></li>
        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
        <li class="page-item"><a class="page-link" href="/placement2">Next</a></li>
      </ul>
    </nav>

{% endblock body %}