{% extends 'base.html' %}

{% block title %}placement2{% endblock title %}

{% block body %}
    <!--Questions-->
    <div class="container my-5">
        <div class="card my-4">
            <div class="card-header">
                <h5>6. M men agree to purchase a gift for Rs. D. If three men drop out how much more will each have to
                    contribute towards the purchase of the gift/<br>
                </h5>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A. D/(M-3) <br>
                        B. MD/3 <br>
                        C. M/(D-3) <br>
                        D. 3D/(M2-3M)<br>
                    </p>
                    <footer class="blockquote-footer">(Ans.D)<br><cite title="Source Title"></cite></footer>
                </blockquote>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                <h5>7. A company contracts to paint 3 houses. Mr.Brown can paint a house in 6 days while Mr.Black would
                    take 8 days and Mr.Blue 12 days. After 8 days Mr.Brown goes on vacation and Mr. Black begins to work
                    for a period of 6 days. How many days will it take Mr.Blue to complete the contract?<br>
                </h5>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A. 7 <br>
                        B. 8 <br>
                        C. 11 <br>
                        D. 12</p>
                    <footer class="blockquote-footer">(Ans.C)<cite title="Source Title"></cite></footer>
                </blockquote>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                <h5>8. If 9x-3y=12 and 3x-5y=7 then 6x-2y = ?<br>
                    <br>
                </h5>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A. -4 <br>
                        B. 5 <br>
                        C. 3 <br>
                        D. 8</p>
                    <footer class="blockquote-footer">(Ans.D)<cite title="Source Title"></cite></footer>
                </blockquote>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                <h5>8. If the value of x lies between 0 &amp; 1 which of the following is the largest?<br>
                    <br>
                </h5>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A. x <br>
                        B. x2 <br>
                        C. x? <br>
                        D. 1/x</p>
                    <footer class="blockquote-footer">(Ans.D)<cite title="Source Title"></cite></footer>
                </blockquote>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                <h5>10. Which of the following fractions is less than 1/3</h5>

            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A. 22/62 <br>
                        B. 15/46 <br>
                        C. 2/3 <br>
                        D. 1</p>
                    <footer class="blockquote-footer">(Ans. B)<cite title="Source Title"></cite></footer>
                </blockquote>
            </div>
        </div>

        <!--Pagination-->
        <nav aria-label="Page navigation example">
            <ul class="pagination my-5">
                <li class="page-item"><a class="page-link"
                        href="/placement1">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/placement1">1</a></li>
                <li class="page-item"><a class="page-link" href="/placement2">2</a></li>
                <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>

{% endblock body %}